body{
	font-family: 'Source Sans Pro', bold, sans-serif;
	background: #fff;
	background-size: cover;
	background-position: center;
}
.blue{
	background-color: #2e2f8c;
	height: 20px;
}
.miv_column{
	height: 100px;
/*	border: solid 1px red;*/
}
.miv_row{
/*	border: solid 1px green;*/
	height: 100%;
}
.miv_toprow .blue{
	height:20px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.container-fluid{
	padding-left: 0;
	padding-right: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a{
	color:#2e2f8c;
	font-family: 'Source Sans Pro', bold, sans-serif;
	font-weight: 700;
}
/*.miv_footer {
	position: fixed;
	bottom: 0px;
}*/
.miv_footer .miv_column {
	background-color: #2e2f8c;
	color: #FFF;
}
.miv_iconbar{
	display: block;
	background-color: rgba(255, 255, 255, 0.7);
}
.miv_column_spec{
	background-color: none !important;
}
.miv_blank{
	height: 200px;
}
.miv_hi {
	height: 100%;
}
.miv_footer .miv_column {
	height: 125px;
	position: relative;
}
.miv_footer .miv_corner{
	background-color: #2e2f8c;
}
.miv_footer .miv_corner:after {
    content: '';
    position: absolute;
    top: 0; right: -60px;
    border-top: 125px solid transparent;
    border-left: 60px solid #2e2f8c;
    width: 0;
}
.miv_spacer{
	margin-top: 15%;
}
.miv_spacer2{
	height: 50px;
}
.miv_btn{
	display: inline-block;
    font-family: "sourcesanspro", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 700;
    border-radius: 3px;
    background: rgba(46, 47, 140, 0);
    color: #2e2f8c !important;
    border: 2px solid transparent;
    margin-bottom: 0.2rem;
    vertical-align: top;
    text-shadow: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    text-align: left;
    font-size: 15px;
}
.miv_footericonen{
	width: 90%;
	margin-top: 25px;
	height: 75px;
	background-color: #fff;
}
.miv_footericonen:after{
    content: '';
    position: absolute;
    top: 25px;
    right: 63px;
    border-top: 75px solid transparent;
    border-left: 45px solid #fff;
    width: 0;
}
.miv_footertext{
	margin-top: 25px;
}
.miv_footerzebra{
	position: relative;
	display: block;
	z-index: 10000;
	margin-top: -23px;
    margin-left: 25px;
}
.navbar{
	border-radius: 0px;
}
.navbar-brand {
	padding: 5px;
}
.navbar-default{
	background-color: rgba(255, 255, 255, 0.7) !important;
	background-image: none !important;
	border-color: transparent;
}
.miv_hi .textwidget a {
	display: inline-block;
    font-family: "sourcesanspro", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 700;
    border-radius: 3px;
    background: rgba(46, 47, 140, 0);
    color: #2e2f8c !important;
    border: 2px solid transparent;
    margin-bottom: 0.2rem;
    vertical-align: top;
    text-shadow: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    text-align: left;
    font-size: 15px;	
}
.miv_footericon{
	float: left;
	margin-left: 7%;
}
.miv_footericon img{
	height: 75px;
	width: 75px;
}
.entry-content{
	background-color: #fff;
}
.miv_footertext > .miv_widget > ul{
	list-style: none;
}
.miv_post{
	background: #fff;
	margin-bottom: 20px;
}
#miv_nothome{
	background: none;
}
.miv_pageheader{
	height: 50px;
	background-color: #2E2F8C;
	text-align: center;
}
.miv_pageheader > h1 > a{
	color: #FFF;
	vertical-align: middle;
}
.miv_featured img{
	display: block;
	height: 100px !important;
	width: 100px !important;
}
.miv_item{
	border-bottom: solid 3px #2E2F8C;
	border-right: solid 3px #2E2F8C;
	height: 200px;
	margin-bottom: 20px;
}
.miv_item p{
	padding-bottom: 10px;
}